@font-size: 16px;

body {
  justify-content: flex-start;
  flex-direction: row;
}

.header {
  .logo-and-text {
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 99px;
    }

    .heading-and-name {
      display: flex;
      flex-direction: column;

      margin-left: 25px;

      h1 {
        font-family: @content-font;
        margin: 0;
        padding: 0;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .name {
        margin-left: 0;
        line-height: 1;
        font-size: 16px;
        color: var(--base04);
      }
    }
  }
}

@media (min-width: @medium-screen) {
  .page {
    max-width: none;
  }
}

.vertex {
  .vertex-info {
    display: flex;
    flex-direction: row;
    color: var(--base0B);

    &:before {
      content: "=> ";
      white-space: pre;
      font-family: @monospace-font;
    }

    .vertex-name {
      margin-right: 1ch;
    }
  }

  &.cached {
    .vertex-info {
      color: var(--base03);
    }
  }

  &.error {
    .vertex-info {
      color: var(--base08);
    }
  }

  .vertex-logs {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    white-space: pre-wrap;

    .ansi-line {
      &:before {
        font-family: @monospace-font;
        content: "  │ ";
        color: var(--base03);
      }
    }
  }
}
