@font-size: 16px;

// :root {
//   --page-margin: 25px;
// }

body {
  justify-content: flex-start;
  flex-direction: row;
}

.header {
  .logo-and-text {
    svg {
      height: auto;
    }
  }
}

@media (min-width: @medium-screen) {
  .page {
    max-width: none;
  }
}

.vertex {
  .vertex-info {
    display: flex;
    flex-direction: row;
    color: var(--base0B);

    &:before {
      content: "=> ";
      white-space: pre;
      font-family: @monospace-font;
    }

    .vertex-name {
      margin-right: 1ch;
    }
  }

  &.cached {
    .vertex-info {
      color: var(--base0C);
    }
  }

  &.error {
    .vertex-info {
      color: var(--base08);
    }
  }

  .vertex-logs {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    white-space: pre-wrap;

    .ansi-line {
      &:before {
        font-family: @monospace-font;
        content: "  │ ";
        color: var(--base03);
      }
    }
  }
}
