<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>bass loop</title>
    <link rel="stylesheet" type="text/css" href="/css/iosevka.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/switcher.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="/css/base16/base16-rose-pine.css" />
    </noscript>
  </head>
  <body>
    <div class="page">
      <div class="header">
        <span class="logo-and-text">
          {{template "logo.tmpl"}}

          <div class="heading-and-name">
            <a href="/">bass loop</a>
          </div>
        </span>
      </div>

      <h2>thunk runs</h2>

      <ul class="thunks">
      {{range .Runs}}
        <li>{{.Avatar}}<a class="name" href="/thunks/{{.Thunk.Digest}}">{{.Thunk.Digest}}</a> run {{template "run-summary.tmpl" .}}</li>
      {{end}}
      </ul>

      <div class="footer">
        <div class="choose-theme" id="choosetheme">
          <select id="styleswitcher" onchange="switchStyle(event)">
            {{template "base16-options.tmpl"}}
          </select>
        </div>
      </div>
    </div>
  </body>
</html>
