<span class="run-summary"><a class="name" href="/runs/{{.Run.ID}}">{{.Run.ID}}</a> by <a href="https://github.com/{{.User.Login}}">@{{.User.Login}}</a> {{if .Run.EndTime}}{{if .Run.Succeeded.Int64}}succeeded{{else}}failed{{end}} in {{.Duration}}{{else}}unfinished{{end}}</span>
