<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>run {{.Run.ID}}</title>
    <link rel="stylesheet" type="text/css" href="/css/iosevka.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/switcher.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="/css/base16/base16-rose-pine.css" />
    </noscript>
  </head>
  <body>
    <div class="page">
      <div class="header thunk">
        <span class="logo-and-text">
          {{.Avatar}}
          <div class="heading-and-name">
            <h1>run log</h1>
            <ul>
              <li><strong>thunk</strong> <a class="name" href="/thunks/{{.Thunk.Name}}">{{.Thunk.Name}}</a></li>
              <li><strong>run</strong> {{template "run-summary.tmpl" .}}</li>
            </ul>
          </div>
        </span>
      </div>

      {{range .Vertexes}}
      {{template "vertex.tmpl" .}}
      {{end}}

      <div class="footer">
        <div class="choose-theme" id="choosetheme">
          <select id="styleswitcher" onchange="switchStyle(event)">
            {{template "base16-options.tmpl"}}
          </select>
        </div>
      </div>
    </div>
  </body>
</html>
